<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>
<body>
<form name='f' th:action="@{/addRole}" method='POST'>
    <table>
        <tr>
            <td>Role Name:</td>
            <td><input type='text' name='roleName' value=''></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type='text' name='description' /></td>
        </tr>
        <tr>
            <td>Role Code:</td>
            <td><input type='text' name='roleCode' /></td>
        </tr>
        <tr>
            <td>Role Order:</td>
            <td>
                <select name = "roleOrder">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>