<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>
<body>
<form name='f' th:action="@{/addUser}" method='POST'>
    <table>
        <tr>
            <td>User Name:</td>
            <td><input type='text' name='userName' value=''></td>
        </tr>
        <tr>
            <td>Full Name:</td>
            <td><input type='text' name='fullName' /></td>
        </tr>
        <tr>
            <td>Pass Word:</td>
            <td><input type='text' name='password' /></td>
        </tr>
        <tr>
                    <td>Name</td>
                    <td><input type = "radio" name="gender" value = "0"></td>
                    <td>Nữ</td>
                    <td><input type = "radio" name="gender" value = "1"></td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                <th:block th:each="item : ${lstRole}" name = "lstRoleTemp">
                    <input type="checkbox" name = "roleId" th:value="${item.roleId}"/>
                    <label th:text="${item.roleName}"></label>
                </th:block>
            </td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>