<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function checkPassword(form) {
            password1 = form.password1.value;
            password2 = form.password2.value;

            if (password1 == '')
                alert ("Please enter Password");
            else if (password2 == '')
                alert ("Please enter confirm password");

            else if (password1 != password2) {
                alert ("\nPassword did not match: Please try again...")
                return false;
            }
            else{
                alert("Change PassWord Success !!!")
                return true;
            }
        }
    </script>
</head>
<body>
<form onSubmit = "return checkPassword(this)" method='POST' th:object = "${user}" action="changePassWord" >
    <table border = 1 align = "center">
        <tr>
            <td><input type = hidden th:field="*{userId}" name='userId' size = 25</td>
        </tr>
        <tr>
            <!-- Enter Password. -->
            <td>Password:</td>
            <td><input type = password name = password1 size = 25</td>
        </tr>
        <tr>
            <!-- To Confirm Password. -->
            <td>Confirm Password:</td>
            <td><input type = password name = password2 size = 25></td>
        </tr>
        <tr>
            <td colspan = 2 align = right>
                <input type = submit value = "Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>