<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<form th:action="@{/searchFunction}">
    <input type="text" th:name="searchText"/>
    <input type="submit"/>
</form>
<br>
<a href="/addFunction">Add</a>
<table border="1">
    <tr>
        <th>index</th>
        <th>Function Name</th>
        <th>Action</th>
    </tr>

    <tr th:each="item, state : ${lstFunction}">
        <td th:utext="${state.index + 1}">index</td>
        <td th:utext="${item.functionName}">count</td>
        <td><a th:href="@{'/updateFunction/' + ${item.functionId}}">Update</a>
            <a th:href="@{'/disableFuction/' + ${item.functionId}}">Disable</a></td>
    </tr>

</table>
</body>
</html>